 <header>
  <div class="container">
    <a class="logo" href="/">
      <img src="images/qcminilogo.jpg" alt="QC Family Tree">
    </a>
    <nav class="main-nav">
        <ul>
            <li>
                <a href="/">About</a>
            </li>
            <li>
                <a href="/">Podcast</a>
            </li>
            <li>
                <a href="/">Get Involved</a>
            </li>
            <li>
                <a href="/" class="btn">Donate</a>
            </li>
            <li class="social">
                <a href="http://facebook.com/qcfamilytree">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li class="social">
                <a href="http://twitter.com/qcfamilytree">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="drop-down-nav">
        <h4>Sub Menu Title</h4>
    </div>
  </div>
</header>