$hero-height: 500px;
$hero-height-mobile: 350px;
$large-hero-height: 800px;
$large-hero-height-mobile: 700px;
$small-hero-height: 200px;
$white: #FFFFFF;
$black: #000000;
$border-color: #DDDDDD;
$color-primary: #b3be35; //lighten(#ED6B3A, 2%);
$color-secondary: #3d1a52; //lighten(#8F94B0, 2%);
$color-secondary-lighter: lighten($color-secondary, 8%);
$font-color: #111111;
$hero-transition-duration: 10s;

// $brand-dark-color: #3d1a52;
// $brand-light-color: #b3be35;

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	color: $font-color;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5rem;
	line-height: 2.5rem;
	text-transform: capitalize;
	.subheader {
		font-size: 1.75rem;
		display: block;
	}
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 2.35rem;
	line-height: 2.35rem;
}

h4 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 1.75rem;
	//text-transform: capitalize;
}

h5 {
	font-weight: 300;
}

a {
	color: darken($color-secondary, 20%);
}

p {
	margin: 0;
}

q {
	font-style: italic;
}

.btn {
	background-color: $color-secondary;
	color: $white;
	padding: 10px 30px;
	border-radius: 4px;
	text-transform: uppercase;
	&:hover {
		background-color: lighten($color-secondary, 10%);
		color: $white;
	}
}

.site-container {
	width: 100%;
	margin: 90px 0 0 0;
}

header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	height: 92px;
	padding: 20px 0;
	background-color: $white;
	border-bottom: 1px solid $border-color;
	.logo {
		position: absolute;
        top: -5px;
        padding: 10px;
        border-radius: 70px;
        transform: rotate(0deg);
        transition-property: transform;
        transition-duration: .15s;
        transition-timing-function: ease-in;
        &:hover {
        	text-decoration: none;
        	transform: rotate(35deg);
            transition-duration: 1.3s;
            transition-timing-function: ease-out;
        }
		img {
	        height: 80px;
	        width: 80px;
		}
	}
	#hamburger {
		float: right;
		color: #000;
	    font-size: 40px;
	    line-height: 40px;
	}
	nav.mobile-menu {
		display: none;
		background-color: $black;
		position: fixed;
		top: 92px;
		left: 0;
		right: 0;
		padding: 40px 50px 50px 50px;
		a {
			color: $white;
			font-size: 20px;
			font-weight: bold;
			//border-bottom: solid $white 2px;
			display: inline-block;
			padding: 10px 0 0 0;
			&:hover {
				text-decoration: none;
			}
		}
		.mobile-submenu {
			margin-bottom: 10px;
			a {
				font-size: 16px;
				font-weight: normal;
				//border-bottom: none;
			}
		}
	}
	nav.main-nav {
		display: none;
		float: right;
		margin: 1px 0 0 0;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				vertical-align: middle;
				a:not(.btn) {
					padding: 0 5px 12px 5px;
					margin: 0 0 0 5px;
					text-decoration: none;
					text-transform: uppercase;
					font-family: 'Ubuntu', sans-serif;
					font-size: 1rem;
					color: $color-secondary;
					transition: border-width 0.15s linear;
					&:hover {
						border-bottom: solid 4px $color-primary;
					}
				}
				&.social {
					a {
						margin: 0 5px;
						i {
							font-size: 1.45rem;
							//color: $color-primary;
						}
						&:hover {
							i {
								color: darken($color-secondary, 12%);
							}
						}
					}
				}
				.btn {
					margin: 0 0 0 10px;
				}
				.drop-down-nav {
					position: fixed;
					z-index: 110;
					//top: 91px;
					margin-top: 1px;
					left: 25%;
					right: 5%;
					max-width: 1110px;
					width: 100%;
					display: none;
					&.open {
						display: block;
					}
					.drop-down-container {
						background-color: $black;
						color: $white;
						padding: 40px 50px 35px 50px;
						margin-top: 34px;
						h4 {
							padding-bottom: 20px;
							border-bottom: solid 1px $white;
							a {
								color: $white;
								font-family: 'Ubuntu', sans-serif;
							    font-weight: 400;
							    font-size: 1.75rem;
							    line-height: 1.75rem;
							    i {
							    	transition: color 0.15s linear;
							    	margin-left: 10px;
							    }
								&:hover {
									//color: $color-primary;
									border-bottom: none;
									i {
										color: $color-primary;
									}
								}
							}
						}
						.child-nav {
							margin: 20px 0;
							a {
								color: $white;
								padding-bottom: 8px;
							}
						}
					}
				}
			}
		}
	}
}

footer {
	padding: 70px 0 0 0;
	background-color: #444444;
	color: #999999;
	font-size: 0.90rem;
	a {
		color: #999999;
		text-decoration: none;
		transition: color 0.35s linear;
		margin:5px 0;
		&:hover {
			color: $color-primary;
			text-decoration: none;
		}
	}
	.logo {
		img {
			height: 110px;
		    margin-bottom: 10px;
		}
	}
	.social-footer {
		border-top: solid 1px #666666;
		padding: 30px 0;
		margin: 50px 0 0 0;
		a {
			&:hover {
				i {
					color: $color-primary;
				}
			}
			i {
				font-size: 2rem;
				color: #999999;
				padding: 0 10px;
				transition: color 0.35s linear;
			}
		}
	}
	nav {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				a {
					font-size: 1.35rem;
					font-weight: 500;
					font-family: 'Ubuntu', sans-serif;
				}
				ul {
					li {
						a {
							font-family: 'Roboto', sans-serif;
							font-size: 0.90rem;
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}

form {
	input[type=text], textarea {
		background-color: $white;
	    border: 1px solid #7a92a4;
	    box-sizing: border-box;
	    outline: none;
	    padding: 10px 5px;
	    width: 100%;
	    font-weight: 300;
	    margin: 20px 0;
	}
}

.hero {
	//background: url(../images/Backyard-Circled-in-prayer.jpg);
	height: $hero-height-mobile;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &.small-hero {
    	height: $small-hero-height !important;
    	background-image: url(/images/Pretty-Garden-1.jpg);
    	.hero-content-container {
    		height: $small-hero-height !important;
    	}
    	.hero-cover {
    		height: $small-hero-height !important;
    		opacity: 0.7;
	    }
    }
    &.large-hero {
    	height: $large-hero-height-mobile;
    	.hero-content-container {
    		height: $large-hero-height-mobile;
    	}
    	.hero-cover {
	    	height: $large-hero-height-mobile;
	    	opacity: 0.5;
	    }
    }
    .hero-content-container {
    	display: table;
    	opacity: 1;
    	height: $hero-height-mobile;
    	position: absolute;
    	z-index: 30;
    	top: 0;
    	width: 100%;
    	.hero-content {
    		display: table-cell;
    		text-align: center;
    		vertical-align: middle;
    		.hero-text {
	    		h1 {
	    			color: $white;
	    			opacity: 1;
	    			.subheader {
	    				color: $color-primary;
	    			}
	    		}
	    		.hero-cta {
	    			opacity: 1;
		    		p {
		    			color: $white;
		    			padding: 20px 10% 0;
		    		}
		    		.btn {
		    			margin-top: 40px;
		    		}
		    	}
	    	}
    		.hero-tree {
		    	text-align: center;
				opacity: 1;
				height: 250px;
				margin-bottom: 20px;
		    	img {
					height: 100%;
		    	}
		    }
    	}
    }
    .hero-cover {
    	background-color: $black;
    	opacity: 0.2;
    	height: $hero-height-mobile;
    	position: absolute;
    	z-index: 10;
    	top: 0;
    	left: 0;
    	right: 0;
    }
    
}

.rich-text {
	margin: 70px 0;
	h2, h3, h4, h5, p {
		margin: 20px 0;
	}
}

.z-pattern {
	margin: 70px 0 70px 0;
	&+.z-pattern {
		margin: -70px 0 70px 0;
	}
	.row {
		.col-md-6 {
			&:nth-child(odd) {
			}
			&:nth-child(even) {
			}
		}
	}
	.image-block, .text-block {
		height: 500px;
		background-color: #F1F1F1;
	}
	.image-block {
		background-size: cover;
		background-position: center;
	}
	.text-block {
		text-align: center;
		display: table;
		width: 100%;
		.text-block-content {
			display: table-cell;
			vertical-align: middle;
			i {
				margin: 20px 0;
				font-size: 4rem;
				color: $color-secondary;
			}
			h4 {
				margin: 20px 0;
			}
			h5 {
				margin: 20px 20%;
				strong {
					font-weight: 500;
				}
			}
		}
	}
}

.text-banner {
	background-color: $color-secondary;
	padding: 70px 0;
	text-align: center;
	color: $white;
	h3 {
		margin-bottom: 30px;
		color: $color-primary;
	}
	img {
		height: 140px;
		margin-bottom: 20px;
	}
	q {
		margin: 0 10px;
		display: block;
	}
	.btn {
		border: solid 2px $white;
	}
}

.video {
	margin: 70px 0;
	iframe {
		width: 100%;
    	height: 450px;
	}
}

.calendar {
	margin: 70px 0;
	iframe {
		width: 100%;
    	height: 800px;
	}
}

.image-banner {
	height: 300px;
	width: 100%;
	background-position: -100px center;
	background-size: cover;
	background-size: 200%;
}

.map {
	height: 300px;
}

.contact {
	margin: 70px 0;
	h3, h5 {
		text-align: center;
		margin-bottom: 15px;
	}
	.contact-form-errors {
		color: $color-secondary;
		font-weight: 400;
		text-align: center;
	}
}

.blog-categories {
	float: right;
	width: 300px;
	margin: 15px 0 0 0;
	border: solid 1px $border-color;
	form {
		select {
			height: 40px;
			width: 100%;
		    border: none;
		    background-color: #FFF
		}
	}
}

.recent-blog-posts {
	margin: 70px 0;
	.recent-post-header {
		margin: 0 0 30px 0;
		height: 250px;
		width: 100%;
		background-color: $color-primary;
		display: table;
		.recent-post-content {
			margin: 0 0 15px 0;
			vertical-align: middle;
			display: table-cell;
			text-align: center;
			color: $white;
			padding: 0 15px;
			h4 {
				margin: 0 0 15px 0;
			}
			a {
				margin: 10px 0 0 0;
				display: block;
				&:hover {
					color: $color-secondary;
				}
			}
		}
	}
	.recent-post {
		margin: 0 0 30px 0;
		height: 250px;
		background-size: cover;
		background-position: center;
		position: relative;
		display: block;
		&:hover {
			.recent-post-content {
				background-color: rgba(0, 0, 0, 1);
				padding: 20px 10px;
			}
		}
		.recent-post-content {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 5px 10px;
			background-color: rgba(0, 0, 0, 0.65);
			transition: background-color 0.5s, padding 0.25s;
			.recent-post-category {
				color: $color-primary;
				text-transform: uppercase;
				font-size: small;
				font-weight: 500;
			}
			.recent-post-title {
				color: $white;
				line-height: 20px;
			}
		}
	}
}

.blog-list {
	.blog {
		display: block;
		text-align: right;
		margin: 40px 0;
		background-color: #F1F1F1;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		&:first-child {
			margin-top: 70px;
		}
		&:hover {
			text-decoration: none;
			.blog-title {
				padding: 30px 10px;
				margin: 200px 0 0 0;
			}
			i {
				color: $color-primary;
			}
		}
		i {
			color: #fff;
			text-shadow: 0 0 3px #000;
			font-size: 40px;
			margin: 10px 12px 0 0;
			transition: color 0.5s;
		}
		.blog-title {
			transition: margin 0.25s, padding 0.25s;
			color: #fff;
			margin: 250px 0 0 0;
			padding: 5px 10px;
			background: rgba(0, 0, 0, 0.85);
			font-weight: 400;
			text-align: left;
			font-size: 1.2rem;
			.blog-category {
				font-size: smaller;
				color: $color-primary;
			}
			p {
				font-weight: 200;
				font-size: 1rem;
			}
		}
	}
}

.blog-detail {
	.blog-image {
		// height: 300px;
		// margin: 60px 0 0 0;
		// background-color: #F1F1F1;
		// background-repeat: no-repeat;
		// background-size: cover;
		// background-position: center;
		width: 100%;
		margin: 60px auto 0 auto;
		display: block;
	}
	.blog-podcast {
		margin: 60px 0 0 0;
	}
	.blog-text {
		margin: 60px 0;
		h2, h3, h4, h5 {
			margin: 30px 0 15px 0;
		}
		p {
			margin: 15px 0;
		}
	}
}


/*** PHONE ***/

@media (min-width: 768px) {
	header {
		.logo {
			border-bottom: 1px solid $border-color;
			background: $white;
			img {
				height: 120px;
	            width: 120px;
			}
		}
	}
	.z-pattern {
		.row {
			.col-md-6 {
				&:nth-child(odd) {
					padding-right: 0;
				}
				&:nth-child(even) {
					padding-left: 0;
				}
			}
		}
	}
	.image-banner {
		height: 400px;
		background-position: center;
		background-size: cover;
	}
}

/*** TABLET ***/

@media (min-width: 992px) {

	@keyframes cover-animation {
	    from { opacity: 0; background-color: $black; }
	    10% { opacity: 0; }
	    45% { opacity: 0.65; background-color: $black; }
	    52% { opacity: 0.65; background-color: $black; }
	    55% {  }
	    80% {  }
	    to   {  }
	}

	@keyframes tree-animation {
	    from { opacity: 0; height: 500px; margin-top:7%; }
	    10% { opacity: 0; }
	    30% { opacity: 1; }
	    45% { opacity: 1; height: 500px; margin-top:7%; }
	    52% { height: 250px; margin-top:0; }
	    55% {  }
	    80% {  }
	    to   {  }
	}

	@keyframes header-animation {
	    from { opacity: 0; margin-top: 0; }
	    10% { }
	    45% { opacity: 0; margin-top: 500px; }
	    52% { opacity: 1; margin-top: 0; }
	    55% {  }
	    80% {  }
	    to  {  }
	}

	@keyframes cta-animation {
	    from { opacity: 0; }
	    10% { }
	    35% { }
	    42% { }
	    45% { opacity: 0; }
	    80% { opacity: 1; }
	    to   { opacity: 1; }
	}

	h1 {
		font-size: 3.5rem;
		line-height: 3.5rem;
		.subheader {
			margin-top: -8px;
			font-size: 2.25rem;
		}
	}
	header {
		#hamburger {
			display: none;
		}
		nav.mobile-menu {
			display: none !important
		}
		nav.main-nav {
			display: block;
		}
	}
	.hero {
		height: $hero-height;
		&.large-hero {
			height: $large-hero-height;
			.hero-content-container {
	    		height: $large-hero-height;
	    	}
	    	.hero-cover {
	    		height: $large-hero-height;
	    	}
	    	.hero-content-container {
		    	.hero-content {
		    		.hero-text {
			    		h1 {
							animation: header-animation $hero-transition-duration;
							-webkit-animation: header-animation $hero-transition-duration;
							animation-timing-function: ease-in;
							-webkit-animation-timing-function: ease-in;
			    		}
			    		.hero-cta {
							animation: cta-animation $hero-transition-duration;
							-webkit-animation: cta-animation $hero-transition-duration;
				    	}
			    	}
		    		.hero-tree {
						animation: tree-animation $hero-transition-duration;
						-webkit-animation: tree-animation $hero-transition-duration;
						animation-timing-function: ease-in-out;
						-webkit-animation-timing-function: ease-in-out;
				    }
		    	}
		    }
		    .hero-cover {
		    	animation: cover-animation $hero-transition-duration;
				-webkit-animation: cover-animation $hero-transition-duration;
				animation-timing-function: ease-in-out;
				-webkit-animation-timing-function: ease-in-out;
		    }
		}
		.hero-content-container {
	    	height: $hero-height;
	    	.hero-content {
	    		.hero-text {
		    		.hero-cta {
						p {
			    			padding: 20px 25% 0;
			    		}
			    	}
		    	}
	    	}
	    }
	    .hero-cover {
	    	height: $hero-height;
	    }
	}
	.text-banner {
		q {
			margin: 0 10%;
		}
	}
	.image-banner {
		height: 450px;
	}
	.blog-list {
		.blog {
			margin: 60px 0;
		}
	}
	.blog-detail {
		.blog-image {
			width: auto;
			max-width: 80%;
		}
	}
	.recent-blog-posts {
		.recent-post-header {
			margin: 0 0 0 0;
		}
		.recent-post {
			margin: 0 0 0 0;
		}
	}
}

@media (min-width: 1200px) {
    header {
    	nav.main-nav {
    		ul {
    			li {
    				.drop-down-nav {
                        left: 30%;
    				}
    			}
    		}
    	}
    }
}

@media (min-width: 1500px) {
    header {
    	nav.main-nav {
    		ul {
    			li {
    				.drop-down-nav {
                        left: 40%;
    				}
    			}
    		}
    	}
    }
}

