$hero-height: 800px;
$hero-height-mobile: 700px;
$white: #FFFFFF;
$black: #000000;
$color-primary: lighten(#ED6B3A, 2%);
$color-secondary: lighten(#8F94B0, 2%);
$font-color: #111111;
$hero-transition-duration: 10s;


body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	color: $font-color;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-weight: 500;
	font-family: 'Ubuntu', sans-serif;
	font-size: 3.5rem;
	line-height: 3.5rem;
	text-transform: capitalize;
	.subheader {
		font-size: 2.25rem;
		display: block;
	}
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 2.35rem;
	line-height: 2.35rem;
}

h4 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 1.75rem;
}

h5 {
	font-weight: 300;
}

a {
	color: darken($color-secondary, 20%);
}

p {
	margin: 0;
}

q {
	font-style: italic;
}

.btn {
	background-color: $color-primary;
	color: $white;
	padding: 10px 40px;
	border-radius: 4px;
	text-transform: uppercase;
	&:hover {
		background-color: darken($color-primary, 7%);
		color: $white;
	}
}

header {
	padding: 20px 0;
	.logo {
		img {
			width: 275px
		}
	}
	nav.main-nav {
		display: none;
		float: right;
		margin: 1px 0 0 0;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				vertical-align: middle;
				a:not(.btn) {
					padding: 0 5px 12px 5px;
					margin: 0 0 0 10px;
					text-decoration: none;
					text-transform: uppercase;
					font-family: 'Ubuntu', sans-serif;
					font-size: 1rem;
					color: $font-color;
					transition: border-width 0.15s linear;
					&:hover {
						border-bottom: solid 4px $color-primary;
					}
				}
				&.social {
					a {
						margin: 0 5px;
						i {
							font-size: 1.45rem;
							color: $color-secondary;
						}
						&:hover {
							i {
								color: darken($color-secondary, 12%);
							}
						}
					}
				}
				.btn {
					margin: 0 0 0 20px;
				}

			}
		}
	}
}

footer {
	padding: 70px 0 0 0;
	background-color: #444444;
	color: #999999;
	font-size: 0.95rem;
	a {
		color: #999999;
		text-decoration: none;
		transition: color 0.35s linear;
		margin:5px 0;
		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
	.logo {
		img {
			height: 80px;
		}
	}
	.social-footer {
		border-top: solid 1px #666666;
		padding: 30px 0;
		margin: 50px 0 0 0;
		a {
			&:hover {
				i {
					color: darken($color-secondary, 12%);
				}
			}
			i {
				font-size: 2rem;
				color: $color-secondary;
				padding: 0 10px;
				transition: color 0.35s linear;
			}
		}
	}
	nav {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				a {
					font-size: 1.35rem;
					font-weight: 500;
					font-family: 'Ubuntu', sans-serif;
				}
				ul {
					li {
						a {
							font-family: 'Roboto', sans-serif;
							font-size: 0.95rem;
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}

form {
	input[type=text], textarea {
		background-color: $white;
	    border: 1px solid #7a92a4;
	    box-sizing: border-box;
	    outline: none;
	    padding: 10px 5px;
	    width: 100%;
	    font-weight: 300;
	    margin: 20px 0;
	}
}

.hero {
	background: url(../images/Backyard-Circled-in-prayer.jpg);
	height: $hero-height-mobile;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    .hero-content-container {
    	display: table;
    	opacity: 1;
    	height:$hero-height-mobile;
    	position: absolute;
    	z-index: 30;
    	top: 0;
    	width: 100%;
    	.hero-content {
    		display: table-cell;
    		text-align: center;
    		vertical-align: middle;
    		.hero-text {
	    		h1 {
	    			color: $white;
	    			opacity: 1;
	    			.subheader {
	    				color: $color-primary;
	    			}
	    		}
	    		.hero-cta {
	    			opacity: 1;
		    		p {
		    			color: $white;
		    			padding: 20px 10% 0;
		    		}
		    		.btn {
		    			margin-top: 40px;
		    		}
		    	}
	    	}
    		.hero-tree {
		    	text-align: center;
				opacity: 1;
				height: 200px;
				margin-bottom: -50px;
		    	img {
					height: 100%;
		    	}
		    }
    	}
    }
    .hero-cover {
    	background-color: $black;
    	opacity: 0.75;
    	height: $hero-height-mobile;
    	position: absolute;
    	z-index: 10;
    	top: 0;
    	left: 0;
    	right: 0;
    }
    
}

.z-pattern {
	margin: 70px 0;
	.row {
		.col-md-6 {
			&:nth-child(odd) {
			}
			&:nth-child(even) {
			}
		}
	}
	.image-block, .text-block {
		height: 500px;
		background-color: #F1F1F1;
	}
	.image-block {
		background-size: cover;
		background-position: center;
	}
	.text-block {
		text-align: center;
		display: table;
		width: 100%;
		.text-block-content {
			display: table-cell;
			vertical-align: middle;
			i {
				margin: 20px 0;
				font-size: 3.65rem;
				color: $color-secondary;
			}
			h4 {
				margin: 20px 0;
			}
			h5 {
				margin: 20px 20%;
				strong {
					font-weight: 500;
				}
			}
		}
	}
}

.text-banner {
	background-color: lighten($color-secondary, 8%);
	padding: 70px 0;
	text-align: center;
	color: $white;
	h3 {
		margin-bottom: 30px;
	}
	img {
		height: 120px;
	}
	q {
		margin: 0 10px;
		display: block;
	}
}

.image-banner {
	height: 300px;
	width: 100%;
	background-position: -100px center;
	background-size: cover;
	background-size: 200%;
}

.map {
	height: 300px;
}

.contact {
	margin: 70px 0;
	h3, h5 {
		text-align: center;
		margin-bottom: 15px;
	}
}


/*** PHONE ***/

@media (min-width: 768px) {
	.z-pattern {
		.row {
			.col-md-6 {
				&:nth-child(odd) {
					padding-right: 0;
				}
				&:nth-child(even) {
					padding-left: 0;
				}
			}
		}
	}
	.image-banner {
		height: 400px;
		background-position: center;
		background-size: cover;
	}
}

/*** TABLET ***/

@media (min-width: 992px) {

	@keyframes cover-animation {
	    from { opacity: 0; background-color: $white; }
	    10% { opacity: 0; }
	    35% { opacity: 0.75; background-color: $white; }
	    42% { opacity: 0.65; background-color: $black; }
	    45% {  }
	    80% {  }
	    to   {  }
	}

	@keyframes tree-animation {
	    from { opacity: 0; height: 600px; margin-top:7%; }
	    10% { opacity: 0; }
	    35% { opacity: 1; height: 600px; margin-top:7%; margin-bottom: 0; }
	    42% { height: 200px; margin-top:0; margin-bottom: -50px; }
	    45% {  }
	    80% {  }
	    to   {  }
	}

	@keyframes header-animation {
	    from { opacity: 0; margin-top: 0; }
	    10% { }
	    35% { opacity: 0; margin-top: 500px; }
	    42% { opacity: 1; margin-top: 0; }
	    45% {  }
	    80% {  }
	    to  {  }
	}

	@keyframes cta-animation {
	    from { opacity: 0; }
	    10% { }
	    35% { }
	    42% { }
	    45% { opacity: 0; }
	    80% { opacity: 1; }
	    to   { opacity: 1; }
	}

	h1 {
		font-size: 3.5rem;
		.subheader {
			margin-top: -8px;
		}
	}
	header {
		.logo {
			img {
				width: 350px
			}
		}
		nav.main-nav {
			display: block;
		}
	}
	.hero {
		height: $hero-height;
	    .hero-content-container {
	    	height:$hero-height;
	    	.hero-content {
	    		.hero-text {
		    		h1 {
						animation: header-animation $hero-transition-duration;
						-webkit-animation: header-animation $hero-transition-duration;
						animation-timing-function: ease-in;
						-webkit-animation-timing-function: ease-in;
		    		}
		    		.hero-cta {
						animation: cta-animation $hero-transition-duration;
						-webkit-animation: cta-animation $hero-transition-duration;
						p {
			    			padding: 20px 25% 0;
			    		}
			    	}
		    	}
	    		.hero-tree {
					animation: tree-animation $hero-transition-duration;
					-webkit-animation: tree-animation $hero-transition-duration;
					animation-timing-function: ease-in-out;
					-webkit-animation-timing-function: ease-in-out;
			    }
	    	}
	    }
	    .hero-cover {
	    	animation: cover-animation $hero-transition-duration;
			-webkit-animation: cover-animation $hero-transition-duration;
			animation-timing-function: ease-in-out;
			-webkit-animation-timing-function: ease-in-out;
	    	height: $hero-height;
	    }
	    
	}
	.text-banner {
		q {
			margin: 0 10%;
		}
	}
	.image-banner {
		height: 450px;
	}
}


