body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: #111111; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-transform: capitalize; }
  h1 .subheader {
    font-size: 2.25rem;
    display: block; }

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 2.35rem;
  line-height: 2.35rem; }

h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.75rem; }

h5 {
  font-weight: 300; }

a {
  color: #5e6485; }

p {
  margin: 0; }

q {
  font-style: italic; }

.btn {
  background-color: #ee7243;
  color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 4px;
  text-transform: uppercase; }
  .btn:hover {
    background-color: #eb5923;
    color: #FFFFFF; }

.site-container {
  width: 100%;
  margin: 90px 0 0 0; }

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 92px;
  padding: 20px 0;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD; }
  header .logo img {
    width: 275px; }
  header #hamburger {
    float: right;
    color: #000;
    font-size: 40px;
    line-height: 40px; }
  header nav.mobile-menu {
    display: none;
    background-color: #000000;
    position: fixed;
    top: 92px;
    left: 0;
    right: 0;
    padding: 40px 50px 50px 50px; }
    header nav.mobile-menu a {
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      padding: 10px 0 0 0; }
      header nav.mobile-menu a:hover {
        text-decoration: none; }
    header nav.mobile-menu .mobile-submenu {
      margin-bottom: 10px; }
      header nav.mobile-menu .mobile-submenu a {
        font-size: 16px;
        font-weight: normal; }
  header nav.main-nav {
    display: none;
    float: right;
    margin: 1px 0 0 0; }
    header nav.main-nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      header nav.main-nav ul li {
        display: inline-block;
        vertical-align: middle; }
        header nav.main-nav ul li a:not(.btn) {
          padding: 0 5px 12px 5px;
          margin: 0 0 0 5px;
          text-decoration: none;
          text-transform: uppercase;
          font-family: 'Ubuntu', sans-serif;
          font-size: 1rem;
          color: #111111;
          transition: border-width 0.15s linear; }
          header nav.main-nav ul li a:not(.btn):hover {
            border-bottom: solid 4px #ee7243; }
        header nav.main-nav ul li.social a {
          margin: 0 5px; }
          header nav.main-nav ul li.social a i {
            font-size: 1.45rem;
            color: #959ab4; }
          header nav.main-nav ul li.social a:hover i {
            color: #71779b; }
        header nav.main-nav ul li .btn {
          margin: 0 0 0 10px; }
        header nav.main-nav ul li .drop-down-nav {
          position: fixed;
          z-index: 110;
          left: 45%;
          right: 5%;
          max-width: 1110px;
          width: 100%;
          display: none; }
          header nav.main-nav ul li .drop-down-nav.open {
            display: block; }
          header nav.main-nav ul li .drop-down-nav .drop-down-container {
            background-color: #000000;
            color: #FFFFFF;
            padding: 40px 50px 35px 50px;
            margin-top: 34px; }
            header nav.main-nav ul li .drop-down-nav .drop-down-container h4 {
              padding-bottom: 20px;
              border-bottom: solid 1px #FFFFFF; }
              header nav.main-nav ul li .drop-down-nav .drop-down-container h4 a {
                color: #FFFFFF;
                font-family: 'Ubuntu', sans-serif;
                font-weight: 400;
                font-size: 1.75rem;
                line-height: 1.75rem; }
                header nav.main-nav ul li .drop-down-nav .drop-down-container h4 a i {
                  transition: color 0.15s linear;
                  margin-left: 10px; }
                header nav.main-nav ul li .drop-down-nav .drop-down-container h4 a:hover {
                  border-bottom: none; }
                  header nav.main-nav ul li .drop-down-nav .drop-down-container h4 a:hover i {
                    color: #ee7243; }
            header nav.main-nav ul li .drop-down-nav .drop-down-container .child-nav {
              margin: 20px 0; }
              header nav.main-nav ul li .drop-down-nav .drop-down-container .child-nav a {
                color: #FFFFFF;
                padding-bottom: 8px; }

footer {
  padding: 70px 0 0 0;
  background-color: #444444;
  color: #999999;
  font-size: 0.90rem; }
  footer a {
    color: #999999;
    text-decoration: none;
    transition: color 0.35s linear;
    margin: 5px 0; }
    footer a:hover {
      color: #FFFFFF;
      text-decoration: none; }
  footer .logo img {
    height: 80px; }
  footer .social-footer {
    border-top: solid 1px #666666;
    padding: 30px 0;
    margin: 50px 0 0 0; }
    footer .social-footer a:hover i {
      color: #71779b; }
    footer .social-footer a i {
      font-size: 2rem;
      color: #959ab4;
      padding: 0 10px;
      transition: color 0.35s linear; }
  footer nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    footer nav ul li a {
      font-size: 1.35rem;
      font-weight: 500;
      font-family: 'Ubuntu', sans-serif; }
    footer nav ul li ul li a {
      font-family: 'Roboto', sans-serif;
      font-size: 0.90rem;
      font-weight: 300; }

form input[type=text], form textarea {
  background-color: #FFFFFF;
  border: 1px solid #7a92a4;
  box-sizing: border-box;
  outline: none;
  padding: 10px 5px;
  width: 100%;
  font-weight: 300;
  margin: 20px 0; }

.hero {
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .hero.small-hero {
    height: 200px !important;
    background-image: url(/images/Pretty-Garden-1.jpg); }
    .hero.small-hero .hero-content-container {
      height: 200px !important; }
    .hero.small-hero .hero-cover {
      height: 200px !important;
      opacity: 0.7; }
  .hero.large-hero {
    height: 700px; }
    .hero.large-hero .hero-content-container {
      height: 700px; }
    .hero.large-hero .hero-cover {
      height: 700px;
      opacity: 0.75; }
  .hero .hero-content-container {
    display: table;
    opacity: 1;
    height: 350px;
    position: absolute;
    z-index: 30;
    top: 0;
    width: 100%; }
    .hero .hero-content-container .hero-content {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .hero .hero-content-container .hero-content .hero-text h1 {
        color: #FFFFFF;
        opacity: 1; }
        .hero .hero-content-container .hero-content .hero-text h1 .subheader {
          color: #ee7243; }
      .hero .hero-content-container .hero-content .hero-text .hero-cta {
        opacity: 1; }
        .hero .hero-content-container .hero-content .hero-text .hero-cta p {
          color: #FFFFFF;
          padding: 20px 10% 0; }
        .hero .hero-content-container .hero-content .hero-text .hero-cta .btn {
          margin-top: 40px; }
      .hero .hero-content-container .hero-content .hero-tree {
        text-align: center;
        opacity: 1;
        height: 200px;
        margin-bottom: -50px; }
        .hero .hero-content-container .hero-content .hero-tree img {
          height: 100%; }
  .hero .hero-cover {
    background-color: #000000;
    opacity: 0.35;
    height: 350px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0; }

.rich-text {
  margin: 70px 0; }
  .rich-text h2, .rich-text h3, .rich-text h4, .rich-text h5, .rich-text p {
    margin: 20px 0; }

.z-pattern {
  margin: 70px 0 70px 0; }
  .z-pattern + .z-pattern {
    margin: -70px 0 70px 0; }
  .z-pattern .image-block, .z-pattern .text-block {
    height: 500px;
    background-color: #F1F1F1; }
  .z-pattern .image-block {
    background-size: cover;
    background-position: center; }
  .z-pattern .text-block {
    text-align: center;
    display: table;
    width: 100%; }
    .z-pattern .text-block .text-block-content {
      display: table-cell;
      vertical-align: middle; }
      .z-pattern .text-block .text-block-content i {
        margin: 20px 0;
        font-size: 4rem;
        color: #959ab4; }
      .z-pattern .text-block .text-block-content h4 {
        margin: 20px 0; }
      .z-pattern .text-block .text-block-content h5 {
        margin: 20px 20%; }
        .z-pattern .text-block .text-block-content h5 strong {
          font-weight: 500; }

.text-banner {
  background-color: #adb1c5;
  padding: 70px 0;
  text-align: center;
  color: #FFFFFF; }
  .text-banner h3 {
    margin-bottom: 30px; }
  .text-banner img {
    height: 120px; }
  .text-banner q {
    margin: 0 10px;
    display: block; }

.video {
  margin: 70px 0; }
  .video iframe {
    width: 100%;
    height: 450px; }

.calendar {
  margin: 70px 0; }
  .calendar iframe {
    width: 100%;
    height: 800px; }

.image-banner {
  height: 300px;
  width: 100%;
  background-position: -100px center;
  background-size: cover;
  background-size: 200%; }

.map {
  height: 300px; }

.contact {
  margin: 70px 0; }
  .contact h3, .contact h5 {
    text-align: center;
    margin-bottom: 15px; }

.blog-list .blog {
  display: block;
  text-align: right;
  margin: 40px 0;
  background-color: #F1F1F1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .blog-list .blog:hover {
    text-decoration: none; }
    .blog-list .blog:hover .blog-title {
      opacity: 1; }
    .blog-list .blog:hover i {
      opacity: 1; }
  .blog-list .blog i {
    color: #fff;
    font-size: 40px;
    margin: 10px 12px 0 0;
    opacity: 0.85;
    transition: opacity 0.5s; }
  .blog-list .blog .blog-title {
    opacity: 0.75;
    transition: opacity 0.5s;
    color: #fff;
    margin: 200px 0 0 0;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.65);
    font-weight: 400;
    text-align: left; }

.blog-detail .blog-image {
  height: 300px;
  margin: 60px 0 0 0;
  background-color: #F1F1F1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.blog-detail .blog-podcast {
  margin: 60px 0 0 0; }

.blog-detail .blog-text {
  margin: 60px 0; }
  .blog-detail .blog-text h2, .blog-detail .blog-text h3, .blog-detail .blog-text h4, .blog-detail .blog-text h5 {
    margin: 30px 0 15px 0; }
  .blog-detail .blog-text p {
    margin: 15px 0; }

/*** PHONE ***/
@media (min-width: 768px) {
  .z-pattern .row .col-md-6:nth-child(odd) {
    padding-right: 0; }
  .z-pattern .row .col-md-6:nth-child(even) {
    padding-left: 0; }
  .image-banner {
    height: 400px;
    background-position: center;
    background-size: cover; } }

/*** TABLET ***/
@media (min-width: 992px) {
  @keyframes cover-animation {
    from {
      opacity: 0;
      background-color: #FFFFFF; }
    10% {
      opacity: 0; }
    35% {
      opacity: 0.75;
      background-color: #FFFFFF; }
    42% {
      opacity: 0.65;
      background-color: #000000; }
    45% { }
    80% { }
    to { } }
  @keyframes tree-animation {
    from {
      opacity: 0;
      height: 600px;
      margin-top: 7%; }
    10% {
      opacity: 0; }
    35% {
      opacity: 1;
      height: 600px;
      margin-top: 7%;
      margin-bottom: 0; }
    42% {
      height: 200px;
      margin-top: 0;
      margin-bottom: -50px; }
    45% { }
    80% { }
    to { } }
  @keyframes header-animation {
    from {
      opacity: 0;
      margin-top: 0; }
    10% { }
    35% {
      opacity: 0;
      margin-top: 500px; }
    42% {
      opacity: 1;
      margin-top: 0; }
    45% { }
    80% { }
    to { } }
  @keyframes cta-animation {
    from {
      opacity: 0; }
    10% { }
    35% { }
    42% { }
    45% {
      opacity: 0; }
    80% {
      opacity: 1; }
    to {
      opacity: 1; } }
  h1 {
    font-size: 3.5rem; }
    h1 .subheader {
      margin-top: -8px; }
  header .logo img {
    width: 350px; }
  header #hamburger {
    display: none; }
  header nav.mobile-menu {
    display: none !important; }
  header nav.main-nav {
    display: block; }
  .hero {
    height: 500px; }
    .hero.large-hero {
      height: 800px; }
      .hero.large-hero .hero-content-container {
        height: 800px; }
      .hero.large-hero .hero-cover {
        height: 800px; }
      .hero.large-hero .hero-content-container .hero-content .hero-text h1 {
        animation: header-animation 10s;
        -webkit-animation: header-animation 10s;
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in; }
      .hero.large-hero .hero-content-container .hero-content .hero-text .hero-cta {
        animation: cta-animation 10s;
        -webkit-animation: cta-animation 10s; }
      .hero.large-hero .hero-content-container .hero-content .hero-tree {
        animation: tree-animation 10s;
        -webkit-animation: tree-animation 10s;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out; }
      .hero.large-hero .hero-cover {
        animation: cover-animation 10s;
        -webkit-animation: cover-animation 10s;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out; }
    .hero .hero-content-container {
      height: 500px; }
      .hero .hero-content-container .hero-content .hero-text .hero-cta p {
        padding: 20px 25% 0; }
    .hero .hero-cover {
      height: 500px; }
  .text-banner q {
    margin: 0 10%; }
  .image-banner {
    height: 450px; }
  .blog-list .blog {
    margin: 60px 0; } }
