<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/site.css">
    <title>QC Family Tree</title>
  </head>
  <body>
    
    <header>
      <div class="container">
        <a class="logo" href="/">
          <img src="images/qcminilogo.jpg" alt="QC Family Tree">
        </a>
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="/">About</a>
                </li>
                <li>
                    <a href="/">Podcast</a>
                </li>
                <li>
                    <a href="/">Get Involved</a>
                </li>
                <li>
                    <a href="/" class="btn">Donate</a>
                </li>
                <li class="social">
                    <a href="http://facebook.com/qcfamilytree">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li class="social">
                    <a href="http://twitter.com/qcfamilytree">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </nav>
      </div>
    </header>

    <div class="hero">
        <div class="hero-content-container">
            <div class="hero-content">
                <div class="hero-tree">
                    <img alt="Family Tree" src="images/QCFT-Tree-Medium.png">
                </div>
                <div class="hero-text">
                    <h1>
                        Kinfolk rooted in discipleship
                        <span class="subheader">in West Charlotte</span>
                    </h1>
                    <div class="hero-cta">
                        <p>
                            “Found your hope, then, on the ground under your feet.  Your hope of Heaven, let it rest on the ground Underfoot. Be it lighted by the light that falls freely upon it after the darkness of the nights”
                            <br>
                            ~ Wendell Berry, Leavings
                        </p>
                        <div>
                            <a href="/" class="btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-cover"></div>
    </div>

    {# <div class="text-banner">
        <h4>We live in a fragmented world plagued by disconnection, distraction, and injustice.</h4>
        <h4>But there is <strong>hope</strong>, there is <strong>another way</strong>.</h4>
    </div> #}

    <div class="z-pattern">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-1 order-md-1">
                    <div class="image-block" style="background-image: url(/images/blm.jpg);"></div>
                </div>
                <div class="col-md-6 order-2 order-md-2">
                    <div class="text-block">
                        <div class="text-block-content">
                            <i class="fas fa-globe-americas"></i>
                            <h4>We live in a fragmented world</h4>
                            <h5>A world that is plagued by disconnection, distraction, and injustice. 
                                {# But there is <strong>hope</strong>, there is <strong>another way</strong>. #}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                    <div class="text-block">
                        <div class="text-block-content">
                            <i class="fas fa-hand-holding"></i>
                            <h4>And in this world we struggle</h4>
                            <h5>
                                With high rates of poverty, ongoing racial segregation, underinvestment in our schools, and many other issues.
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="image-block" style="background-image: url(/images/homeless.jpg);"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                    <div class="image-block" style="background-image: url(/images/LAH_5982.jpg);"></div>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="text-block">
                        <div class="text-block-content">
                            <i class="fas fa-heart"></i>
                            <h4>But there is HOPE</h4>
                            <h5>
                                Because we choose not to hide, but to dwell in this struggle, because of the tremendous assets these places possess.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                    <div class="text-block">
                        <div class="text-block-content">
                            <i class="fas fa-hand-holding-heart"></i>
                            <h4>To create an alternate way of life</h4>
                            <h5>
                                That is centered, whole, founded on kinship and love, and rooted in discipleship.
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="image-block" style="background-image: url(/images/playground.jpg);"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-banner">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <img src="images/QCFT-Tree-Medium.png" alt="QC Family Tree">
                    </div>
                    <h3>We are the Family Tree</h3>
                    <q>"We believe the people and places surrounding the Enderly Park neighborhood are the good soil in which we desire to be planted.  Because the soil where we are planted bears the wounds of racial oppression, we will always be working against the legacy of racism.  We look to our neighbors for wisdom, guidance, and mutual care."</q>
                    <div class="mt-4">
                        <a href="/" class="btn">Learn How You Can Help</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="image-banner" style="background-image: url(/images/Enderly-Park.jpg)"></div>

    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Take the next step</h3>
                    <h5>Complete the form below and let's connect.</h5>
                </div>
            </div>
            <form>
                <div class="row justify-content-md-center"">
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <input type="text" name="first" placeholder="First Name *">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <input type="text" name="last" placeholder="Last Name *">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center"">
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <input type="text" name="email" placeholder="Email *">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div>
                            <input type="text" name="phone" placeholder="Phone">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center"">
                    <div class="col-md-12 col-lg-8">
                        <div>
                            <textarea name="comments" placeholder="Message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center"">
                    <div class="col-md-12 col-lg-8">
                        <div>
                            <button class="btn">Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3258.5532326854427!2d-80.87968724845699!3d35.242490061417726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a1eaba17e7c3%3A0x798145751b05c264!2s2910+Parkway+Ave%2C+Charlotte%2C+NC+28208!5e0!3m2!1sen!2sus!4v1539012587668" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="text-md-center">
                        <a class="logo" href="/">
                          <img src="images/QCFT-Tree-Medium.png" alt="QC Family Tree">
                        </a>
                    </div>
                    <div class="text-md-center">
                        <a href="tel:7043922346">704-392-2346</a>
                    </div>
                    <div class="text-md-center">
                        <a href="mailto:greg@qcfamilytree.org">Email Us</a>
                    </div>
                    <div class="text-md-center">
                        <a href="https://goo.gl/maps/jr6zh85UM9G2" target="_blank">
                            2910 Parkway Avenue<br>
                            Charlotte, North Carolina 28208
                        </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <nav>
                        <div class="row">
                            <div class="col-md-4">
                                <ul>
                                    <li>
                                        <a href="/">About</a>
                                        <ul>
                                            <li>
                                                <a href="/">Lorem ipsum</a>
                                            </li>
                                            <li>
                                                <a href="/">Exercitation</a>
                                            </li>
                                            <li>
                                                <a href="/">Quis autem vel eum</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                    <li>
                                        <a href="/">Podcast</a>
                                        <ul>
                                            <li>
                                                <a href="/">At vero eos</a>
                                            </li>
                                            <li>
                                                <a href="/">Maxime</a>
                                            </li>
                                            <li>
                                                <a href="/">Nam libero tempore</a>
                                            </li>
                                            <li>
                                                <a href="/">Itaque earum</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                    <li>
                                        <a href="/">Get Involved</a>
                                        <ul>
                                            <li>
                                                <a href="/">Itaque vel</a>
                                            </li>
                                            <li>
                                                <a href="/">Asperiores</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="social-footer">
            <div class="container">
                <div class="row">
                    <div class="col-5 text-md-center">
                        <div>Copyright © 2018 QC Family Tree</div>
                        <a href="http://jacksutherland.com">Site by Jack</a>
                    </div>
                    <div class="col-7 text-right">
                        <a href="http://facebook.com/qcfamilytree" target="_blank">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="http://twitter.com/qcfamilytree" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/site.js"></script>
  </body>
</html>