<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/site.css">
    <title>QC Family Tree</title>
  </head>
  <body>
    
    <header>
      <div class="container">
        <a class="logo" href="/">
          <img src="images/qcminilogo.jpg" alt="QC Family Tree">
        </a>
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="/">About</a>
                </li>
                <li>
                    <a href="/">Podcast</a>
                </li>
                <li>
                    <a href="/">Get Involved</a>
                </li>
                <li>
                    <a href="/" class="btn">Donate</a>
                </li>
            </ul>
        </nav>
      </div>
    </header>

    <div class="hero">
        <div class="hero-content-container">
            <div class="hero-content">
                <h1>
                    Kinfolk rooted in discipleship
                    <span class="subheader">in West Charlotte</span>
                </h1>
                <p>
                    “Found your hope, then, on the ground under your feet.  Your hope of Heaven, let it rest on the ground Underfoot. Be it lighted by the light that falls freely upon it after the darkness of the nights”
                    <br>
                    ~ Wendell Berry, Leavings
                </p>
                <div>
                    <a href="/" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="hero-cover"></div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/site.js"></script>
  </body>
</html>